.container {
    .newInfo {
        //height: 100vh-26rem;
        align-items: center;
        justify-content: center;
        display: flex;
        //justify-content: flex-start;
        flex-wrap: wrap;
        padding: 30px;
        .newInfoForEach {
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .newInfo_right {
            color: #38BF85;
            padding-left: 10px;
            margin-left: auto;
            margin-top: -70px;
            margin-right: 18px;
            min-width: 66px;
        }
    }

    .BCmenu {
        height: 3rem;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .svg {
        height: 100vh-26rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}